.modal-body .form-grp h4 {
    font-size: 16px;
    color: #6F6F6F;
}
.form-grp .btn-dark{
    padding-inline: 35px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 40px;
    box-shadow: 0px 5px 15px #0000004E;
    width: fit-content;
}