.modal-content{
    border-radius: 30px !important;
}
.close{
    width: 40px;
    height: 40px;
    color: #D81336 !important;
    background-color: #FFF;
    font-size: 15px;
    border: 2px solid #E2E2E2;
    border-radius: 15px;
    opacity: 1;
}

.modal-header {
    border-bottom: none;
}
.modal-body {
    padding-top: 0 !important;
}
.modal-body h1{
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-inline: 15%;
}
.main-btns {
    display: flex;   
    justify-content: space-between; 
    border: 1px solid #E3E6E8;
    border-radius: 15px;
    padding: 10px;
    margin: 40px auto;
}
.main-btns button{
    border-radius: 15px;
}
.main-btns button:nth-of-type(1){
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: center;
    width: 150px;
    gap: 5px;
    line-height: 15px;
    padding-inline: 35px;
    border-radius: 15px;
    font-weight: 600;
}
.main-btns button:nth-of-type(1) i{
    font-size: 25px;
    font-weight: normal;
}
.main-btns .btn-outline-gray{
    border: 1px solid #E3E6E8;
    font-size: 16px;
}
.main-btns .btn-outline-gray i{
    color: #D81336;
}
.modal-body .form-grp {
    margin-inline: 30px;
}
.modal-body .form-grp h3 {
    font-size: 25px;
    font-weight: 700;
}
.modal-body .form-grp h4 {
    font-size: 16px;
    color: #6F6F6F;
}
.modal-body .form-grp .form-control{
    border-radius: 15px;
    color: black;
    font-size: 14px;
    font-weight: 600;
    outline: none;
}

.form-control:focus {
    border-color: #ce717acf;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgb(220, 53, 69, .25);
}
.pass-field {
    position: relative;
}
#togglePassword {
    position: absolute;
    top: 8px;
    right: 15px;
    font-size: 16px;
}
.form-grp p {
    color: #6F6F6F;
    font-size: 12px;
}
.form-grp a{
    font-size: 12px;
    color: black;
}
.form-grp button{
    padding-inline: 35px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: 600;
}
.modal-foot {
    display: flex;
    align-items: center;
    justify-content: space-between;
}